apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - oauth-client.yaml
  - external-secret.yaml
  - app-config.yaml
  - backstage.yaml

# Update these values for your environment
patches:
  - patch: |-
      - op: replace
        path: /redirectURIs/0
        value: https://backstage-developer-hub-rhdh.apps.hub.ocp.sandbox2222.opentlc.com/api/auth/oidc/handler/frame
      - op: replace
        path: /secret
        value: GENERATE_SECURE_SECRET_HERE
    target:
      kind: OAuthClient
      name: developer-hub
